.container {
    position: relative;
    width: 80%;
    height: 600px;
    border: black 2px;
    background-color: darkgreen;
    background-image: url('Background.jpg');
    background-size: 80% 600px;
    overflow: hidden
}


.score {
    font-size: 2em;
}

.lives {
    font-size: 2em;
}

.gameover {
    position: absolute;
    color: white;
    font-size: 3em;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    background-color: aqua;
    width: 100%;

}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellowgreen;
    border-radius: 40px;
    background-image: url('ball2.jpg');
    top: 80%;
    left: 50%;
    background-size: 20px 20px; /* to bring the image inside the ball) */
    display:none; /* block, I dont want to display the ball before the game start so set it to none*/
    background-repeat: no-repeat;
}

.paddle {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 100px;
    bottom: 25px;
    border-radius: 25px;
    left: 50%;
    top: 90%
}

.brick {

    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 40px;
   background-color: red;
    border: 1px solid rgb(9, 0, 0);
    background-image: url('brick3.png');
    background-size: 90px 40px;
    /*border-radius: 50px;*/
    font-size: 1.8em;
    text-align: center;
    line-height: 10px;
    

}

.playerselect radio {
    appearance: red;
}